@page "/deals/create"
@inject IDealRepository dealsRepo
@inject IDealCategoryRepository dealCategoriesRepo
@inject HttpClient Http

@using DealsMo.Shared

<h3>Deal Categories</h3>

<h3>CreateDeal</h3>

@code {

}
